@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.texto-animado {
    font-size: 45px;
    font-weight: 300;
}

.texto-animado span {
    position: relative;
}

.texto-animado span::before {
    content: "";
    color: rgb(255, 255, 255);
    animation: palavras 25s infinite;
}

.texto-animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid red;
    right: -10px;
    animation: cursor .8s infinite, digitar 25s steps(15) infinite;
    width: calc(100% + 18px);
    background-color: #e20505;
    
}

@keyframes digitar {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 18px);
    }
}

@keyframes cursor {
    0% {
        border-left: 3px solid #212121;
    }
}

@keyframes palavras {
    0%,
    20% {
        content: "Eventos Corporativos";
    }
    21%,
    40% {
        content: "Eventos Esportivos";
    }
    41%,
    60% {
        content: "Eventos Escolares";
    }
    61%,
    80% {
        content: "Fotos em Shows";
    }
    81%,
    100% {
        content: "Fotos Publicitarias";
    }
}


a{
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

a:hover{
    color: #ff0000 !important;
}

.whatsapp {
    color: #ffffff;
}

h5{
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 12px;
}

.habilidade {
    color: #000000;
}

.sobres {
    color: #ffffff;
}

.album {
    color: #000000;
}

.copa {
    color: #ffffff;
}

.bxl-instagram::before {
    content: "";
    color: #ffffff;
}

.bx {
    font-size: 25px;
}


.h3 {
    color: #000000;
}

.span .skill h5 {
    color: #000000;
}

li{
    list-style: none;
}

nav{
    background-color: #000000;
    position: sticky;
    top: 0;
    padding: 0 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 98px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

nav .logo,
footer .logo{
    display: flex;
    align-items: center;
}

nav .logo a,
footer .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img,
footer .logo img{
    width: 150px;
    height: 150px;
}

nav ul,
footer .top ul{
    display: flex;
    gap: 40px;
}

nav button{
    color: #ffffff;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover{
    background-color: #ff0000;
    border-color: #ff0000;
    color: #000000;
}

nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

.main{
    height: 100vh;
    margin: 0;
    padding: 90px 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, #be0a0a, #a30505, #e00707, #da2121, #fa1616);
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
}
}

.main .left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main .left h3{
    margin-top: 19px;
    font-weight: bold;
    font-size: 46px;
}

.main .left h3 span{
    color: #ffffff;
}

.main .left p{
    color: #ffff;
    font-size: 23px;
    margin-top: 15px;
}

.main .left button{
    margin-top: 40px;
    color: #fff;
    cursor: pointer;
    background-color: #000000;
    padding: 14px 24px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 15px;
}


@keyframes jacarebaitola {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

button:hover {
    animation-name: jacarebaitola;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.kayky {
    margin-top: 40px;
    color: #fff;
    cursor: pointer;
    background-color: #000000;
    padding: 14px 24px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 15px;
}

.feedback p {
    font-size: 30px;
    font-family: system-ui;
    padding-bottom: inherit;
}

.somos {
    padding: 70px;
    font-size: 35px;
    font-family: system-ui;
    padding-top: 95px;
    background-color: #fa1616;
}

.somos h3 {
    padding-bottom: 15px;
    color: #ffffff;
}

.quemnos {
    color: #ffffff;
}

.main .right img{
    z-index: 3;
    margin-left: 30px;
    width: 500px;
    border-radius: 12px;
}

.skills{
    
    padding: 110px 85px 60px;
}

.skills h3,
.about .right h3,
.portfolio .header h3,
.feedback h3{
    font-size: 40px;
    margin-top: 20px;
}

.skills .skill-items{
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.skills .skill-items .item{
    background-color: #000000;
    width: 25%;
    border-radius: 10px;
    padding: 32px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skills .skill-items .item:hover{
    border-color: #f70505;
}

.skills .skill-items .item .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.skills .skill-items .item .icon i{
    font-size: 26px;
    color: #000000;
}

.skills .skill-items .item h4,
.portfolio .portfo-items .item .info h4{
    font-size: 18px;
    color: #ffffff;
}

.skills .skill-items .item p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

.about{
    height: 55vw;
    padding: 110px;
    display: flex;
    align-items: center;
    gap: 60px;
    background-color: #000000;
}

.about .left{
    background-color: #000000;
    border-radius: 10px 10px 0 0;
}

.about .left img{
    width: 440px;
    border-radius: 5%;
}

.about .right p{
    font-size: 24px;
    margin-top: 30px;
    color: #ffffff;
}

.portfolio{
    background-color: #fa1616;
    padding: 110px 85px;
}

.portfolio .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.portfolio .header button{
    background-color: #000000;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    border: none;
    border-radius: 10px;
}

.portfolio .header button i{
    font-size: 26px;
}

.portfolio .portfo-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio .portfo-items .item{
    width: 30%;
    background-color: #000000;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.portfolio .portfo-items .item:hover{
    border-color: #ffffff;
}

.portfolio .portfo-items .item img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px 10px 20px 20px;
}

.portfolio .portfo-items .item .info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 32px 42px;
}

.portfolio .portfo-items .item .info p{
    font-size: 13px;
    color: #ffffff;
}

.portfolio .portfo-items .item .info a{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #ff0000;
}

.portfolio .portfo-items .item .info a i{
    margin-left: 2px;
    font-size: 16px;
}

.feedback{
    padding: 80px 85px;
}

.feedback .customers{
    margin-top: 50px;
    display: flex;
    gap: 40px;
}

.feedback .customers .item{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.feedback .customers .item:hover{
    border-color: #ff0000;
}

.feedback .customers .item p{
    line-height: 22px;
    font-size: 14px;
}

.feedback .customers .item .user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.feedback .customers .item .user img{
    width: 4px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .customers .item .user h5{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 3px;
}Z

.feedback .customers .item .user p{
    font-size: 12px;
}

footer{
    background-color: #000000;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

footer .top,
footer .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .top .social-links{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}

footer .separator{
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    margin: 30px 0 20px;
}

footer .bottom p{
    font-size: 12px;
    color: #ffffff;
}

footer .bottom .links a{
    font-size: 12px;
    margin-left: 14px;
}

@media screen and (max-width: 1200px) {

    .body {
        overflow-x: none;
    }

    .texto-animado span::after {
        content: "";
        position: absolute;
        height: 100%;
        border-left: 2px solid red;
        right: -10px;
        animation: cursor .8s infinite, digitar 25s steps(15) infinite;
        width: calc(100% + 18px);
        background-color: #e20505;
        z-index: -1;
    }
    
    .main .left h5{
        font-size: 18px;
        color: #ffffff;
    }

    .main .left h3{
        font-size: 36px;
    }

    .main .left p{
        font-size: 18px;
    }

    .main .right img{
        width: 280px;
        padding-top: 20px;
    }

    .skills .skill-items{
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skills .skill-items .item{
        width: 49%;
    }

    .about .left img{
        width: 280px;
    }

    .skills h3,
    .about .right h3,
    .portfolio .header h3,
    .feedback h3{
        font-size: 32px;
    }

    .about .right p{
        font-size: 15px;
    }

    .feedback .customers .item .rating{
        font-size: 20px;
    }

    .feedback .customers .item p{
        font-size: 13px;
    }

    footer .top ul{
        gap: 20px;
    }

}

@media screen and (max-width: 992px) {

    .body {
        overflow-x: none;
    }
    
    nav button{
        display: none;
    }

    nav ul{
        gap: 9px;
    }

    nav ul li a{
        font-size: 15px;
    }

    .main{
        flex-direction: column;
    }

    .about{
        height: 70vw;
        justify-content: center;
    }

    .portfolio .portfo-items{
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio .portfo-items .item{
        width: 48%;
    }

    .feedback .customers{
        gap: 14px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .feedback .customers .item{
        width: 48%;
    }

    footer .top ul{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    
    .body {
        overflow-x: none;
    }

    nav{
        justify-content: space-between;
        padding: 0 9px;
    }

    nav ul{
        display: none;
    }

    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
    }

    nav button#menuButton{
        display: flex;
    }

    .main{
        height: 200vw;
        padding: 42px;
    }

    .skills{
        padding: 85px 42px 40px;
    }

    .skills .skill-items{
        gap: 8px;
    }

    .about{
        padding: 85px 42px;
        height: 120vw;
        display: list-item;
    }

    .portfolio{
        padding: 60px 42px;
    }

    .portfolio .portfo-items{
        gap: 18px;
    }

    .feedback{
        padding: 85px 42px;
    }

    footer{
        padding: 85px 5px;
    }

    footer .bottom{
        flex-direction: column-reverse;
        gap: 14px;
    }

}

@media screen and (max-width: 576px) {
    
    .body {
        overflow-x: none;
    }

    nav ul li a{
        font-size: 13px;
    }

    nav .logo a{
        font-size: 18px;
    }

    .about {
        height: 200VW;
        display: block;
    }

    .main .left h3{
        font-size: 32px;
    }

    .main .left p{
        font-size: 16px;
    }

    .main .left button{
        width: 100%;
    }

    .skills .skill-items .item{
        width: 100%;
    }

    .portfolio .header button{
        font-size: 12px;
        padding: 8px 14px;
    }

    .portfolio .portfo-items .item{
        width: 80%;
    }

    .feedback .customers .item{
        width: 100%;
    }

}

::-webkit-scrollbar {
    width: 0.9vw;
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(transparent, #a71300d2);
    background: linear-gradient(transparent, #770606);
    border-radius: 20px;
}

::-webkit-scrollbar:hover {
    width: 0.9vw;
    background: #000000;
}

::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(transparent, #6d0000);
    background: linear-gradient(transparent, #3a0000);
    border-radius: 20px;
}

.img {
    width: 100%;
    max-width: 200px;
    margin: 10px;
    display: none; /* Esconde todas as imagens por padrão */
}

.fa-whatsapp:before {
    content: "\f232";
    font-size: 25px;
}    
